* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body,
html {
  font-family: "Montserrat", sans-serif;
  background-image: url(/imgs/sea.jpeg);
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}

/* Font weight /
.mont-300 {
  font-weight: 300;
}

.mont-500 {
  font-weight: 500;
}

.mont-700 {
  font-weight: 700;
}

/ tool panel */

.tool-panel {
  margin: 0 auto;
  margin-top: 3rem;
  width: 400px;
  height: 30px;
  border-radius: 3rem;
}
.add-note {
  color: #ffdf88;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.add-note:hover {
  background-color: #ffdf88;
  color: black;
  text-align: center;
  display: inline-block;
}

.bg-note {
  background-color: #ffdf88;
}
.bg-note:hover {
  background-color: #ffff88;
}
.bg-modal {
  background-color: #ffdf88;
}

.trash-btn {
  font-size: 16px;
}
.update-btn {
  font-size: 16px;
}
.trash-btn:hover {
  color: red;
}
.update-btn:hover {
  color: rgb(39, 177, 39);
}

.trash-card-btn:hover {
  color: red;
}
.update-card-btn:hover {
  color: rgb(39, 177, 39);
}
.btn-close {
  display: none;
}

.delet-card :hover {
  color: red;
}